body 
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#home{
  height: 100vh;
  background-image: url(../images/p1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: changeHomebg 5s linear infinite;
}

@keyframes changeHomebg{

  0%{
  background-image: url(../images/p1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }
24%{
    background-image: url(../images/p1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
25%{
    background-image: url(../images/p2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
49%{
    background-image: url(../images/p2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}50%{
    background-image: url(../images/p3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
74%{
    background-image: url(../images/p3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
75%{
    background-image: url(../images/p4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
100%{
    background-image: url(../images/p4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
}


/*admin code*/

#adminbg{
  height: 100vh;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../images/admin.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headingMain{
color: white;
font-size: 30px;

}

.header .subHead{
  font-weight: bold;
  color: white;
  font-size: 40px;
}


form .labels{
  font-weight: bold;
  color: white;
  font-size: 25px;
}

form .fields{
  display: inline-block;
  cursor: pointer;
    background: #636363;
    color: white;
    font-size: 20px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid black;
    transition: all 0.3s ease;

}

form .fields:hover{
    color: whitesmoke;
    font-weight: bold;
    background: none;
}

section .link{
  color: whitesmoke;
    font-weight: bold;
    background: none;
    font-size: 20px;
    text-decoration: none;
}
/*admin code*/




#welcomepg{
  height: 100vh;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../images/admin.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}


.subHead{
 height:10vh;
  width: 100vh
background: 1px red;
color: white;
display: flex;
align-items: center;
justify-content: center;
font-size: 70px;
padding: 90px 90px;
}

.subhead{
 height:1vh;
  width: 100vh
background: 1px red;
color: white;
display: flex;
align-items: center;
justify-content: center;
font-size: 50px;
}

.cmd{
  color: white;
font-size: 20px;
text-align: center;
text-decoration: none;
}




/* login...................*/

#login{
  height: 100vh;
  background-image: url(../images/p1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.center
{
  width: 382px;  
  color: yellowgreen;
          
  margin-left:150px;
  margin-top: 150px; 
  background: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7));    
  padding: 80px;   
  border-radius: 30px ;
  border: 5px solid yellowgreen;
}

#login input{
  background: yellowgreen;
  font-weight: bold;
}

.center h5 a{
  color: yellowgreen;
  text-decoration: none;
}

/*login ends...........................................*/


/*sign up starts...........................................*/



#registration{
  height: 100vh;
  background-image: url(../images/p1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


#registration .reg-center
{
  width: 1000px;
  text-align: center;  
  
  padding: 20px;       
  margin-left: 0;
  margin-top: 100px; 
  background: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7));    
  border-radius: 30px ;
  border: 5px solid yellowgreen;
  color: yellowgreen;
}

#registration .reg-center h5{
  color: yellowgreen;
  text-decoration: none;
}

.gen{
  color: yellowgreen;
}

.update
{
  width: 382px;  
  text-align: center;        
  margin-left:35%;
  margin-top: 5%; 
  align-items:center;     
  padding: 80px;  
  background: #f2f2f2;  
  border-radius: 30px ;
  border: 5px solid gray;
}

.welcome
{
  width: 382px;  
  text-align: center;        
  margin-left:35%;
  margin-top: 5%; 
  align-items:center;     
  padding: 80px;

  background: #f2f2f2;  
  border-radius: 30px ;
  border: 5px solid gray;
}



.footer-fixed 
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: yellowgreen;
  color: white;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
}
.footer 
{
  padding: 10px;
  background-color: yellowgreen;
  color: white;
  text-align: center;
 
}

.bg-clr{
  background-image: url(../images/bgcube.jpg);
}
/* styles.css */
