@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@500&display=swap');

body 
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'David Libre';
}

#home{
  height: 100vh;


  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: changeHomebg 5s linear infinite;
}

#gradient{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

@keyframes changeHomebg{

  0%{
  background-image: url(../images/p1.jpg);
  
  
  }

24%{
    background-image: url(../images/p1.jpg);
  
}

25%{
    background-image: url(../images/p2.jpg);
  
}

49%{
    background-image: url(../images/p2.jpg);
 
}

50%{
    background-image: url(../images/p3.jpg);
 
}

74%{
    background-image:  url(../images/p3.jpg);
  
}

75%{
    background-image:  url(../images/p4.jpg);
  
}

100%{
    background-image:  url(../images/p4.jpg);
  
}
}

.button-style a {
	text-decoration: none;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}

.button-style a:hover{
	background: white;
	color: black;
	box-shadow: 0 0 10px white;
}

/*admin code*/

#adminbg{
  height: 100vh;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../images/admin.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headingMain{
color: white;
font-size: 30px;

}

.header .subHead{
  font-weight: bold;
  color: white;
  font-size: 40px;
}


form .labels{
  font-weight: bold;
  color: white;
  font-size: 25px;
}

form .fields{
  display: inline-block;
  cursor: pointer;
    background: #636363;
    color: white;
    font-size: 20px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid black;
    transition: all 0.3s ease;

}

form .fields:hover{
    color: whitesmoke;
    font-weight: bold;
    background: none;
}

section .link{
  color: whitesmoke;
    font-weight: bold;
    background: none;
    font-size: 20px;
    text-decoration: none;
}
/*admin code*/




#welcomepg{
  height: 100vh;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../images/admin.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}


.subHead{
 height:10vh;
width: 100vh;
color: white;
display: flex;
align-items: center;
justify-content: center;
font-size: 70px;
padding: 90px 90px;
}

.subhead{
 height:1vh;
width: 100vh;
color: white;
display: flex;
align-items: center;
justify-content: center;
font-size: 50px;
}

.cmd{
  color: white;
font-size: 20px;
text-align: center;
text-decoration: none;
}






.welcome
{
  width: 382px;  
  text-align: center;        
  margin-left:35%;
  margin-top: 5%; 
  align-items:center;     
  padding: 80px;

  background: #f2f2f2;  
  border-radius: 30px ;
  border: 5px solid gray;
}